@model MvcDenemeCRUD.Models.Entity.tbl_satislar

@{
    ViewBag.Title = "YeniSatisEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Satis Ekle</h2>

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <form action="#" method="post">

                    <div class="form-group">
                        <label>Ürün Adı</label>
                        @*<input class="form-control" placeholder="Başlık" name="title">*@
                        @*@Html.TextBoxFor(m => m.urun, new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.tbl_urunler.urun_id, (List<SelectListItem>)ViewBag.degerAl_urunler, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.urun, "", new { @style = "color:red" })*@
                        <br />
                        <label>Müşteri Adı Soyadı</label>
                        @*<input class="form-control" placeholder="Başlık" name="title">*@
                        @*@Html.TextBoxFor(m => m.musteri, new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.tbl_musteriler.musteri_id, (List<SelectListItem>)ViewBag.degerAl, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.musteri, "", new { @style = "color:red" })*@
                        <br />
                        <label>Adet</label>
                        @*<input class="form-control" placeholder="Başlık" name="title">*@
                        @Html.TextBoxFor(m => m.adet, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.adet, "", new { @style = "color:red" })*@
                        <br />
                        <label>Ürün Fiyatı</label>
                        @*<input class="form-control" placeholder="Başlık" name="title">*@
                        @Html.TextBoxFor(m => m.fiyati, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.fiyati, "", new { @style = "color:red" })*@
                        <br />
                    </div>

                    <button type="submit" class="btn  btn-md btn-outline-success">Kaydet</button>
                    <button type="reset" class="btn btn-md btn-outline-danger float-right">iptal</button>
                </form>
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div>
</div>
